{{ define "line" }}
{{ template "chartheader" . }}
{{ template "chartcss" . }}
  <div class="wrapper">
    <!--
    <p>...</p>
    -->
    <hr class="solid"/>

    <h1>Thermal values over time</h1>
    <canvas id="thermal-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

    <h1>Indoor Air Quality values over time</h1>
    <canvas id="iaq-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

    <h1>Visual Quality values over time</h1>
    <canvas id="visual-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

    <h1>Acoustics Quality values over time</h1>
    <canvas id="acoustics-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

    <h1>Temperature values over time</h1>
    <canvas id="temperature-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

    <h1>Humidity values over time</h1>
    <canvas id="humidity-chart" width="1600" height="900"></canvas>    
  </div>

  {{ template "scriptline" . }}
{{ end }}