{{ define "linetargets" }}
{{ template "chartheader" . }}
{{ template "chartcss" . }}
  <div class="wrapper">
    <!--
    <p>...</p>
    -->
    <hr class="solid"/>

    <h1>Temperature values over time</h1>
    <canvas id="temperature-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

    <h1>Humidity values over time</h1>
    <canvas id="humidity-chart" width="1600" height="900"></canvas>  
    
    <hr class="solid"/>
    
    <h1>CO2 values over time</h1>
    <canvas id="co2-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

    <h1>VOCs values over time</h1>
    <canvas id="voc-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

    <h1>PM2.5 values over time</h1>
    <canvas id="pm25-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>
    
    <h1>Visual Quality values over time</h1>
    <canvas id="visual-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

    <h1>Acoustics Quality values over time</h1>
    <canvas id="acoustics-chart" width="1600" height="900"></canvas>

    <hr class="solid"/>

 
  </div>

  {{ template "scriptlinetargets" . }}
{{ end }}